@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'SupermolotRegular', sans-serif; /* Set a default font for the body */
}

h1, h2 {
  font-family: 'SupermolotExtraBoldItalic', sans-serif; /* Apply a different font to headings */
}

p {
  font-family: 'SupermolotLightItalic', sans-serif; /* Apply another font to paragraphs */
}
